.App {
  text-align: center;
  color: #334455;
  
}

ul {
  list-style: none;
  width: 150px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  
}

li {
  margin: 5px;
  border-style: solid;
  border-color: #fff;
  
}

li.selectedHouse {
  border-color: #334455;
  border-style: solid;
  border-radius: 8px;

}

p.selectedHouse {
  background-color: #334455;
  font-weight: bold;
  color: white;
box-shadow:1px 1px 5px  #334455;
padding: 10px;
}
